.root {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.paper {
    padding: 16px;
    width: 300px;
}

.mediaContainer {
    padding-top: 56.25%;
    position: relative;
    margin-bottom: 32px;
}

.mediaInner {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-items: center;
    align-items: center;
}

.mediaImage {
    width: 100%;
    height: 100%;
}

.imgProgress {
    margin: 0 auto;
}

.form {
    display: flex;
    flex-direction: column;
}

.inputArea {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.inputArea :global(.MuiFormHelperText-root.Mui-error) {
    position: absolute;
    bottom: -20px;
}

.footer {
    margin-top: 16px;
}
